.hero__button {
  background-color: green;
  color: white;
  height: 50px;
  width: 200px;
  font-family: inherit;
  border-radius: 4px;
  border-style: none;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
}
.hero__button:hover,
.hero__button:focus {
  background-color: blue;
  cursor: pointer;
}

style="color:blue; font-size:24px;"
